{% load static %}
<body id="bg-img">
<header>
  <div class="menu-btn">
    <div class="btn-line"></div>
    <div class="btn-line"></div>
    <div class="btn-line"></div>
  </div>

  <nav class="menu">
    <div class="menu-branding">
      <div class="portrait"></div>
    </div>
    <ul class="menu-nav">
      <li class="nav-item current">
        <a href="{% url 'index' %}" class="navbar-brand"> Home </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'about' %}" class="nav-link"> About Me </a>
 
      <li class="nav-item">
        <a href="{% url 'contact' %}" class="nav-link"> How To Reach Me </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'work' %}" class="nav-link"> My Work </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'store' %}"
          >Store <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a href="{% url 'cart' %}">
          <img id="cart-icon" src="{% static 'images/cart.png' %}" />
        </a>
        <p id="cart-total">{{cartItems}}</p>
      </li>
    </ul>
  </nav>
</header>
</div>
