<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
  <title>Welcome To Rhixe Company</title>
</head>

<body>
  {% include 'partials/_navbar.html' %}
  {% block body %}
  <div class="container">
    {% include 'partials/_footer.html' %}
  </div>
  {% endblock %}
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
